:root {
  --clr-50: #f0f9ff;
  --clr-100: #e0f2fe;
  --clr-200: #bae6fd;
  --clr-300: #7dd3fc;
  --clr-400: #38bdf8;
  --clr-500: #0ea5e9;
  --clr-600: #0284c7;
  --clr-700: #0369a1;
  --clr-800: #075985;
  --clr-900: #0c4a6e;
  --clr-950: #082f49;
}
