:root {
  /* Sky Colors */
  --clr-50: #f0f9ff;
  --clr-100: #e0f2fe;
  --clr-200: #bae6fd;
  --clr-300: #7dd3fc;
  --clr-400: #38bdf8;
  --clr-500: #0ea5e9;
  --clr-600: #0284c7;
  --clr-700: #0369a1;
  --clr-800: #075985;
  --clr-900: #0c4a6e;
  --clr-950: #082f49;

  --space-100: 8px;
  --space-200: 16px;
  --space-300: 24px;

  --clr-primary: var(--clr-400);
  --clr-secondary: var(--clr-200);
  --clr-light: var(--clr-100);
  --clr-dark: var(--clr-950);
}

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/** My style begins here */

body,
header,
main,
footer,
.logo,
.searched-location,
.location-weather,
.carousel,
.window,
.forecast-card,
.description-weather,
.sun-wrapper,
.search-wrapper {
  display: flex;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: var(--clr-dark);
  height: 100%;
  align-items: stretch;
  line-height: 1;
}

body,
main,
.location-weather .card,
.description-weather .card,
.forecast-card,
.search-wrapper {
  flex-direction: column;
}

header {
  position: relative;
  background-color: var(--clr-primary);
  padding: 0 var(--space-300);
  align-items: center;
  box-shadow: 0px 0px 6px var(--clr-dark);
}

.logo {
  gap: var(--space-100);
  justify-content: center;
  align-items: center;
}
.logo > img {
  height: 100%;
  width: 100%;
}

.logo p {
  font-weight: bolder;
  width: min-content;
  line-height: 1;
}

.logo p span {
  margin-left: 2px;
}

.name {
  font-size: 3rem;
}

.search-wrapper {
  position: relative;
  width: 700px;
  margin: 0 auto;
}

#search {
  /* margin: 0 auto;
  width: 700px; */
  cursor: pointer;
  outline-offset: 1px;
  background-color: var(--clr-light);
  padding-inline: 1%;
  border-radius: 25px;
  /* border: none; */
  font-size: 2rem;
  height: 3rem;
  box-shadow: 0px 0px 3px var(--clr-dark) inset;
}

.error {
  opacity: 0;
  border-radius: 25px;
  padding: 1%;
  transition: all 500ms ease;
  position: absolute;
  width: max-content;
  border: 1px solid red;
  background-color: var(--clr-50);
  color: red;
  bottom: -2rem;
  align-self: center;
  transform: scale(0);
}

.error[show] {
  opacity: 1;
  transform: scale(1);
  width: auto;
}

.about {
  font-size: 1.5rem;
}

main {
  background-color: #bae6fd;
  padding: var(--space-200);
  flex: 2;
  gap: var(--space-200);
}
.carousel,
.card {
  border-radius: 25px;
}

.location-weather {
  gap: var(--space-300);
  flex: 5;
}

.location-weather .card {
  box-shadow: 0px 0px 3px var(--clr-dark);
  color: var(--clr-light);
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-weather .card .body {
  /* margin-inline: auto; */
  width: 50%;
}

.card-header {
  display: flex;
  align-items: flex-end;
  margin: 0;
  margin-inline: 0;
}

#condition-image {
  height: 150px;
}

.temperature {
  font-size: 4rem;
}

.condition {
  font-size: 2.5rem;
}

.temperature-feels {
  font-size: 2rem;
}

#location {
  font-size: 1.5rem;
  width: 25ch;
}

.card {
  flex-basis: 75%;
}

.carousel,
.forecast-card {
  align-items: center;
  justify-content: center;
}
.carousel {
  flex-basis: 100%;
  gap: var(--space-100);
}
.carousel button {
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  background-color: var(--clr-secondary);
  border: none;
  height: 50px;
  width: 50px;
}
.carousel button img {
  width: 100%;
}

.carousel .window {
  overflow: hidden;
  gap: var(--space-200);
  max-width: 737px;
  height: 80%;
}

.forecast-card {
  margin: 1% 0px;
  font-weight: bold;
  color: var(--clr-light);
  background-color: var(--clr-primary);
  box-shadow: 0px 0px 6px var(--clr-dark);
  border-radius: 25px;
  min-width: 230px;
  gap: var(--space-200);
}

#forecast-image {
  height: 76px;
}

.forecast-card:first-child {
  margin-left: 1%;
}

.forecast-card:last-child {
  margin-right: 1%;
}

.forecast-card div {
  display: flex;
  align-items: center;
  gap: var(--space-100);
}

#forecast-title,
#rain-percent {
  font-size: 1.2rem;
}
#forecast-temperature {
  font-size: 2rem;
}
.description-weather {
  flex: 3;
  gap: var(--space-100);
}

.description-weather .card {
  background-color: var(--clr-50);
  box-shadow: 0px 0px 3px var(--clr-dark);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-weather .card img {
  width: 96px;
  height: 96px;
}

.description-weather .card .title {
  font-size: 1.8rem;
}

.description-weather .card .variable {
  font-size: 1.5rem;
}

.sun-wrapper {
  gap: 3rem;
}
footer {
  box-shadow: 0px 0px 6px var(--clr-dark);
  position: relative;
  background-color: var(--clr-primary);
  font-size: 1.2rem;
  flex: 0.1;
  justify-content: center;
  align-items: center;
  gap: var(--space-100);
}

#discord-link img {
  cursor: pointer;
  height: 35px;
}
